.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}
.main .nav img{
    width: 50px;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: linear-gradient(15deg, #4483e7, #ed2f1e);
    background-color: red;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
}
.main .card{
    height: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: #e9eef4;
    position: relative;
    cursor: pointer;
}
.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    /* background-color: white; */
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color: #585858;
    font-size: 17px;
}
.main .card:hover{
    background-color:#dfe4ea ;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #dbdee3;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    color: #403f3f;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 14px;
    margin: 15px auto;
    text-align: center;
    font-weight: 400;
}
