ol, ul {
  list-style: none;
}

.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
  position: sticky;
  top: 0;
  background: #fff;
}

.main .nav img {
  width: 50px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .greet {
  margin-bottom: 50px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: linear-gradient(15deg, #4483e7, #ed2f1e);
  background-color: red;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 40px;
}

.main .card {
  height: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: #e9eef4;
  position: relative;
  cursor: pointer;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  /* background-color: white; */
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #585858;
  font-size: 17px;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
  background: #fff;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #dbdee3;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  color: #403f3f;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info {
  font-size: 14px;
  margin: 15px auto;
  text-align: center;
  font-weight: 400;
}

/* Text */
.text {
  background: #f1f3f4;
  padding: 12px 14px;
  border-radius: 12px;
  width: fit-content;
  max-width: 75%;
  line-height: 1.6;
  font-size: 14px;
}

.chat-row.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-row.user .text {
  background: #e8f0fe;
}

/* Markdown elements inside */
.text p {
  /* margin-bottom: 10px; */
}

.text ul {
  padding-left: 18px;
}

.text li {
  margin-bottom: 6px;
}

.text strong {
  font-weight: 600;
}

.text code {
  background: #202124;
  color: #e8eaed;
  padding: 2px 6px;
  border-radius: 4px;
}

.text pre {
  background: #202124;
  color: #e8eaed;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
}